<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ATC1" value="http://9.220.9.131:8080/sap/bc/adt/atc/customizing"/>
        <add key="ATC2" value="http://9.220.9.131:8080/sap/bc/adt/atc/worklists?checkVariant=DEFAULT"/>
        <add key="ATC3" value="http://9.220.9.131:8080/sap/bc/adt/atc/runs?worklistId="/>
        <add key="ATC4" value="http://9.220.9.131:8080/sap/bc/adt/atc/worklists/"/>
        <add key="UnitTest" value="http://9.220.9.131:8080/sap/bc/adt/abapunit/testruns"/>        
        <add key ="owner" value="bischat01"/>
        <add key ="repo" value="SAP-DevOps"/>
        <add key ="branch" value="Dev"/>
		<add key ="sendgridapi" value="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"/>
		<add key ="PRReceiverDL" value="sormita@gmail.com"/>
        <add key ="targetFileForATC" value="objects/PROG/"/>
        <add key ="targetFileForUnitTest" value="objects/CLAS/"/>
    </appSettings>
</configuration>