<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
<add key="ATC1" value="http://9.220.9.131:8080/sap/bc/adt/atc/customizing"/>
<add key="ATC2" value="http://9.220.9.131:8080/sap/bc/adt/atc/worklists?checkVariant=DEFAULT"/>
<add key="ATC3" value="http://9.220.9.131:8080/sap/bc/adt/atc/runs?worklistId="/>
<add key="ATC4" value="http://9.220.9.131:8080/sap/bc/adt/atc/worklists/"/>
<add key="UnitTest" value="http://9.220.9.131:8080/sap/bc/adt/abapunit/testruns"/>
</appSettings>
</configuration>